/* Write your CSS code here */
.login-container {
  display: flex;
  flex-direction: column;
  justify-content: center;
  align-items: center;
}

.login-image {
  height: 300px;
  width: 600px;
}

.form-container {
  display: flex;
  flex-direction: column;
  justify-content: space-between;
  align-self: stretch;
}

.label {
  color: #64748b;
  font-family: Roboto;
  font-weight: 500;
  margin-bottom: 10px;
}

.input {
  padding-left: 16px;
  padding-right: 16px;
  padding-top: 8px;
  padding-bottom: 8px;
  background-color: #d7dfe9;
  border-radius: 3px;
  border: none;
  outline: none;
  margin-bottom: 10px;
}

.login-button {
  background-color: #0967d2;
  color: #e2e8f0;
  border-radius: 5px;
  outline: none;
  cursor: pointer;
  border: none;
  padding-top: 8px;
  padding-bottom: 8px;
}
